* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* create global variable with :root selector */
:root {
  --header-bg-color: rgb(1, 163, 144);
  --footer-bg-color: rgb(1, 163, 144);
  --text-color: #000;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-red: rgb(236, 56, 56);
}

/* Header CSS */
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: auto;
  background-color: #01a390;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
}

.logo {
  padding-left: 10px;
  width: 100px;
}

.nav-items {
  padding: 0 10px 0;
  width: auto;
}

.nav-items > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

.login {
  background-color: #4caf50;
  border: 2px solid black;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #01a390;
}

.login:hover {
  background-color: #019b89;
}

/* Body CSS */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.restaurant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 200px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

.filter {
  margin-left: 20px;
  display: flex;
  gap: 20px;
}

.search-box {
  width: 50%;
  padding: 8px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #220202;
  border-radius: 4px;
  font-size: 16px;
  gap: 20px;
}

.search-btn {
  background-color: #4c99af;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.filter-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.filter-btn:hover {
  background-color: #45a049;
}

.custom-link {
  text-decoration: none;
  color: inherit;
}

.custom-link:hover {
  font-style: italic;
}

/* Cross Button Styling */
.cross-btn {
  position: relative;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.cross-btn::before,
.cross-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #333;
  border-radius: 2px;
}

.cross-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*Shimmer CSS */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

/* Restaurant Menu CSS Start */
.restaurant-menu {
  margin-top: 80px;
  min-height: 80vh;
  width: auto;
}
.restaurant-summary {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--light-black);
  color: var(--white);
}
.restaurant-img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}
.restaurant-summary-details {
  display: flex;
  flex-direction: column;
  flex-basis: 520px;
  margin: 20px;
}
.restaurant-title {
  font-size: 40px;
  max-width: 540px;
  font-weight: 300;
}
.restaurant-tags {
  white-space: nowrap;
  color: inherit;
  opacity: 0.7;
  font-size: 15px;
  max-width: 540px;
}
.restaurant-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  max-width: 340px;
}
.restaurant-rating {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  gap: 5px;
  background-color: var(--dark-green);
  border-radius: 5px;
}

.restaurant-menu-content {
  display: flex;
  justify-content: center;
}

.menu-items-container {
  margin-top: 30px;
  width: 850px;
}
.menu-title-wrap {
  padding: 20px;
}
.menu-count {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  letter-spacing: -0.3px;
  font-size: 1rem;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  max-height: 250px;
  padding: 20px;
  border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
}
.menu-item-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
}

.item-title {
  width: 60%;
}
.item-desc {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  width: 60%;
  letter-spacing: -0.3px;
  font-size: 1rem;
}
.item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
  width: 40%;
}

.menu-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 200px;
  overflow: hidden;
}
.menu-item-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.add-btn {
  background-color: var(--orange);
  color: var(--text-color);
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  border-color: var(--dark-orange);
  margin-top: 10px;
  border-radius: 5px;
}

/* Restaurant Menu End Start */

/* footer CSS */

.footer {
  margin: 10px;
  width: auto;
  text-align: center;
  background-color: var(--footer-bg-color);
  padding: 20px 10px 20px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}

.footer > i {
  padding: 0 5px 0;
  font-size: smaller;
}

.fa-heart {
  color: darkred;
}

.footer > strong {
  padding-left: 5px;
}

.footer > strong > span {
  color: rgb(203, 54, 0);
}

/* User card CSS */

.user-card {
  padding: 10px;
  border: 2px solid black;
}
